/* For number (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) buttons */
QPushButton {
  border: 1px solid gray;
}
QPushButton:pressed {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
      stop: 0 #dadbde, stop: 1 #f6f7fa);
}


/* For (C, +/-, %, .) buttons */
QPushButton {
  background-color: rgb(215, 215, 215);
  border: 1px solid gray;
}
QPushButton:pressed {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

/* For (/, *, -, +, =) buttons */
QPushButton {
  background-color: rgb(255, 151, 57);
  color: white;
  border: 1px solid gray;
}

QPushButton:pressed {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FF7832, stop: 1 #FF9739);
}

/* For result window */
QLabel {
  qproperty-alignment: 'AlignVCenter | AlignRight';
  border: 1px solid gray;
}

background-color : white;